.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: #ef8664;
  font-weight: bold;
}

.App {
  font-family: 'Hubballi', cursive;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.button-remove-add-plant {
  margin-top: 10px;
}

.botanical-name {
  font-weight: bold;
  padding-top: 40px;
}

.common-name {
  padding-top: 10px;
  padding-bottom: 40px;
}

.homepage-image {
  width: 100vw;
  height: 500px;
}

.plant-title {
  font-family: 'Hubballi', cursive;
  font-size: 80px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fill {
  min-height: 100vh;
}

#login-banner-image {
  height: 50vh;
  margin-top: auto;
  margin-bottom: auto;
}

#login-banner-container {
  background-color: #fac400;
}

#login-content-container {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  justify-items: center;
}


.title {
  font-family: 'Playfair Display', serif;
}

#signup-content-container {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  justify-items: center;
}

/* Plant Card */

.plant-card {
  width: 100%;
  color: black;
  background-color: #fac400; 
}

.link {
  text-decoration: none;
}

.plant-card img {
  width: 82px;
  height: 120px;
}

.plant-card .img-container {
  height: 180px;
}

.plant-description {
  padding-top: 30px;
}

.plant-image {
  height: 500px;
}


/* PlantCharacteristics Component */

.plant-characteristic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plant-characteristic-img {
  width: 56px;
  height: 56px;
  background-color: #fac400;
  border-radius: 50%;
  object-fit: cover;
  padding: 8px;
}


/* Botanic Formulaire */

.botanic-formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 60px;
  margin-right: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fac400;
}

.question-garden-title {
  padding-bottom: 20px;
}


/* Home Page */

.home-container {
  background-color: #8ee7df;
  border-radius: 10px;
  margin-top: 40px;
  overflow: hidden;
}

.home-container-left {
  padding: 64px 48px;
}

.home-container-subtitle {
  opacity: 0.6;
  font-size: larger;
  line-height: 95%;
}

.homepage-image {
  width: 260px;
  height: 350px;
}

/* Plant Details */

#plant-details-container-right {
  display: flex;
  flex-direction: column;
  width: 80%;
}


/* padding-left: 120px;
padding-right: 120px;
padding-top: 80px; */